<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Application</title>
    <link href="/css/league.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <style>
        {
            cursor: url(/static/petkoviccur.cur), auto;
        }
    </style>
</head>
<body>
<header th:include="header.html"></header>

<h4>Last Gameweek</h4>
<table id="fixturesTable">
    <thead>
    <tr>
        <th>Home</th>
        <th>Score</th>
        <th>Away</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fixture : ${fixtures}">
        <td th:text="${fixture.getTeamScores().get('homeTeam')}"></td>
        <td>
            <span th:text="${fixture.getTeamScores().get('homeScore')}"></span> -
            <span th:text="${fixture.getTeamScores().get('awayScore')}"></span>
        </td>
        <td th:text="${fixture.getTeamScores().get('awayTeam')}"></td>
    </tr>
    </tbody>
</table>

<h4>Team Table</h4>
<table>
    <thead>
    <tr>
        <th>Team Photo</th>
        <th>Team Name</th>
        <th>Form</th>
        <th>Goal Difference</th>
        <th>Points</th>
        <th>Team Profile</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="team : ${teams}">
        <td>
            <img th:if="${team.getPhotoUrl() != null}" th:src="${team.getPhotoUrl()}" alt="Team Photo">
        </td>
        <td>
            <a th:href="@{'/players/' + ${team.getId()}}">
                <span th:text="${team.getName()}"></span>
            </a>
        </td>
        <td>
            <span class="form" th:text="${team.getForm()}"></span>
        </td>
        <td>
            <span th:text="${team.getGoalsDif()}"></span>
        </td>
        <td>
            <span th:text="${team.getPoints()}"></span>
        </td>
        <td>
            <a class="team-profile-link" th:href="@{'/players/' + ${team.getId()}}">Team Profile</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
<script>
</script>
</html>
